:root {
  --brand-name: rgb(128, 168, 255);
  --primary-text: rgb(230, 230, 230);
  --muted-text: rgb(163, 170, 175);
  --input: rgb(26, 31, 48);
  --input-hover: rgb(33, 39, 59);
  --card-background: rgb(22, 24, 41);
  --card-title: rgb(115, 111, 131);
  --icon: rgb(139, 145, 150);
  --low-temp: rgb(146, 162, 194);
  --high-temp: rgb(204, 108, 108);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
}

.preload * { 
  transition: none !important;
  animation-duration: 0.001s !important; 
}

body {
  width: 100vw;
  height: 100vh;
  background: rgb(35, 22, 37);
  background: linear-gradient(
    0deg,
    rgba(35, 22, 37, 1) 0%,
    rgba(17, 22, 29, 1) 57%,
    rgba(10, 15, 33, 1) 100%
  );
}

svg {
  width: 32px;
  color: var(--icon);
  opacity: 40%;
}

.bg-grid {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
      to right,
      rgb(203 213 225) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgb(203 213 225) 1px, transparent 1px);
  background-size: 2.5rem 2.5rem;
  background-position: calc(50% + 12px) calc(50% + 12px);
  opacity: 4%;
}

/* Home Page */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 10rem 16px;
}

.home-out {
  transform: translateY(-100vh);
  opacity: 0;
  pointer-events: none;
}

.title {
  display: flex;
  text-align: center;
  gap: 8px;
  color: var(--primary-text);
}

.brand-name {
  color: var(--brand-name);
}

.description {
  font-size: 18px;
  color: var(--muted-text);
  text-align: center;
}

.form-home {
  display: flex;
  gap: 8px;
  margin-top: 1rem;
  max-width: 32rem;
  width: 100%;
}

#location,
#location-main,
#submit {
  border-radius: 8px;
  border-style: none;
  padding: 16px;
  background-color: var(--input);
  transition: 200ms all;
}

#submit:hover {
  background-color: var(--input-hover);
}

#location,
#location-main {
  flex: 1;
  flex-shrink: 1;
}

#location::placeholder,
#location,
#location-main::placeholder,
#location-main,
#submit {
  color: var(--muted-text);
}

#location:focus,
#location-main:focus {
  outline-width: 0;
}

.form-main {
  display: flex;
  gap: 8px;
  flex: 1;
}

#location-main {
  flex: 1;
}


/* Main Content */
.main-content {
  display: flex;
  justify-content: center;
  position: fixed;
  gap: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  color: var(--primary-text);
  max-width: 80rem;
  width: 100%;
}

.main-content-hidden {
  transform: translate(-50%, -50%) translateY(100vh);
  opacity: 0;
  pointer-events: none;
}

.main-content,
.home {
  transition: all 0.5s ease-in-out;
}

.left,
.weather-details,
.future-forecast {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: var(--card-background);
  padding: 12px;
}

.left,
.right {
  overflow: hidden;
  width: 100%;
  flex: 1;
}

.left,
.bottom-left,
.weather-details,
.future-forecast {
  border-radius: 8px;
}

.left,
.right {
  flex: 1;
}

.top-left {
  display: flex;
  gap: 8px;
}

.logo {
  border-radius: 8px;
  height: auto;
  width: 64px;
}

/* Bottom Left Card */
.bottom-left {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  justify-content: space-between;
  background-image: url(images/background/clear-night.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  padding: 24px;
}

.card-header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card-title {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.card-title span {
  font-weight: bolder;
}

.address {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.statistics {
  display: flex;
  justify-content: space-between;
}

.statistics img {
  margin: -36px;
}

.temp-weather {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 8px;
}

.temperature {
  font-size: 64px;
  font-weight: bold;
}

/* Right */
.right {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* Top Right */

.weather-details,
.future-forecast {
  padding: 24px;
  gap: 16px;
}

.details-title {
  margin-bottom: 16px;
  color: var(--card-title);
}

hr {
  border: 1px solid var(--icon);
  opacity: 8%;
}

/* Bottom Right */
.day img {
  width: 5rem;
  opacity: 80%;
}

.future-days {
  display: flex;
  justify-content: space-between;
}

.day {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.day img {
  align-self: center;
}

.day .high-low-temp {
  margin-top: 8px;
  color: var(--primary-text);
}

.high-low-temp .low-temp {
  color: var(--low-temp);
}

.high-low-temp .high-temp {
  color: var(--high-temp);
}

.day span {
  font-size: 12px;
  color: var(--muted-text);
}


.details-container {
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--muted-text);
}

.details-container span:last-child {
  color: var(--primary-text);
  margin-left: auto;
}


@media (max-width: 768px) {
  .title,
  .description {
    font-size: 12px;
  }
}

@media (max-width: 425px) {
  .home {
    padding: 8rem 16px;
  }
  .title {
    flex-direction: column;
  }
  .form-home {
    flex-direction: column;
  }

  #submit {
    padding: 12px; 
  }
}