:root {
  --brand-name: rgb(128, 168, 255);
  --primary-text: rgb(230, 230, 230);
  --muted-text: rgb(163, 170, 175);
  --input: rgb(26, 31, 48);
  --input-hover: rgb(33, 39, 59);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
}

.preload * { 
  transition: none !important;
  animation-duration: 0.001s !important; 
}

body {
  width: 100vw;
  height: 100vh;
  background: rgb(35, 22, 37);
  background: linear-gradient(
    0deg,
    rgba(35, 22, 37, 1) 0%,
    rgba(17, 22, 29, 1) 57%,
    rgba(10, 15, 33, 1) 100%
  );
}

.bg-grid {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
      to right,
      rgb(203 213 225) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgb(203 213 225) 1px, transparent 1px);
  background-size: 2.5rem 2.5rem;
  background-position: center center;
  opacity: 4%;
}

/* Home Page */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 10rem 16px;
}

.home-out {
  transform: translateY(-100vh);
  opacity: 0;
  pointer-events: none;
}

.title {
  display: flex;
  text-align: center;
  gap: 8px;
  color: var(--primary-text);
}

.brand-name {
  color: var(--brand-name);
}

.description {
  font-size: 18px;
  color: var(--muted-text);
  text-align: center;
}

.form-home {
  display: flex;
  gap: 8px;
  margin-top: 1rem;
  max-width: 32rem;
  width: 100%;
}

#location,
#location-main,
#submit {
  border-radius: 8px;
  border-style: none;
  padding: 16px;
  background-color: var(--input);
  transition: 200ms all;
}

#submit:hover {
  background-color: var(--input-hover);
}

#location,
#location-main {
  flex: 1;
  flex-shrink: 1;
}

#location::placeholder,
#location,
#location-main::placeholder,
#location-main,
#submit {
  color: var(--muted-text);
}

#location:focus,
#location-main:focus {
  outline-width: 0;
}


/* Main Content */
.main-content {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  color: var(--primary-text);
  max-width: 80rem;
  width: 100%;
}

.main-content-hidden {
  transform: translate(-50%, -50%) translateY(100vh);
  opacity: 0;
  pointer-events: none;
}

.main-content,
.home {
  transition: all 0.5s ease-in-out;
}

.left {
  display: flex;
  flex-direction: column;
}

.left,
.right {
  flex: 1;
}

.top-left {
  display: flex;
  gap: 8px;
}

.logo {
  border-radius: 8px;
  height: auto;
  width: 64px;
}


@media (max-width: 768px) {
  .title,
  .description {
    font-size: 12px;
  }
}

@media (max-width: 425px) {
  .home {
    padding: 8rem 16px;
  }
  .title {
    flex-direction: column;
  }
  .form-home {
    flex-direction: column;
  }

  #submit {
    padding: 12px; 
  }
}